@model VisualizzaLog.Models.ArplogViolation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ArplogViolation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ArplogId" class="control-label"></label>
                <select asp-for="ArplogId" class="form-control" asp-items="ViewBag.ArplogId"></select>
                <span asp-validation-for="ArplogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RuleId" class="control-label"></label>
                <select asp-for="RuleId" class="form-control" asp-items="ViewBag.RuleId"></select>
                <span asp-validation-for="RuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

